<div class="form-container">
  <!-- <img src="assets/images/lock.svg" id="lock"> -->

  <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="login()" class="fb-button">
    <i class="fa fa-facebook-official" aria-hidden="true"></i> Login With Facebook
  </button>

  <br>

  <button (click)="login()" class="google-button">
    <i class="fa fa-google" aria-hidden="true"></i> Login With Google
  </button>
  <!-- <button routerLink="/login-email" class="email-button">Email</button> -->

  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
</div>
