@import '~theme/variables';
//@import '~theme/common/buttons';

.lock {
  font-size: $lock-font-size;
}

@media (max-width:  $login-max-width) {
  .page {
    padding: $page-padding;
  }

  .toolbar {
    margin-left:  $toolbar-margin-left;
    width: $toolbar-width;
  }
}
