@import '~theme/variables';
//@import '~theme/common/buttons';

.lock {
  font-size: 50px;
}

@media (max-width:  600px) {
  .page {
    padding: 1em;
  }

  .toolbar {
    margin-left:  -45%;
    width: 90%;
  }
}
