@import '~theme/variables';
//@import '~theme/common/buttons';

//LOGIN COMPONENT Variables
//.lock
$lock-font-size: 50px;
//Max-width Media query
$login-max-width: 600px;
//.page
$page-padding: 1em;
//.toolbar
$toolbar-margin-left: -45%;
$toolbar-width: 90%;
//END LOGIN COMPONENT


.lock {
  font-size: $lock-font-size;
}

@media (max-width:  $login-max-width) {
  .page {
    padding: $page-padding;
  }

  .toolbar {
    margin-left:  $toolbar-margin-left;
    width: $toolbar-width;
  }
}
