@import '~theme/variables';

.fb-button {
  background: $color-congress-blue;
  color: $color-white;

  &:hover {
    background: $color-congress-blue-hover;
  }
}

.google-button {
  background: $color-white;
  border: $google-border;

  &:hover {
    background: $color-grey-hover;
  }
}

.email-button {
  background:  $color-porcelain;

  &:hover {
    background-color: $color-white;
    border-radius: $email-button-hover-radius;
  }
}

.basic-btn {
  margin: $basic-btn-margin;

  &:hover {
    background: $basic-button-hover;
  }
}
