@import '~theme/variables';

body {
  background: $color-white;
}

.user-info {
  padding-bottom: $ten-px;
  h3 {
    text-align: center;
  }
  h4 {
    margin: $thirty-px auto 0;
    width: $eighty-percent;
  }
  p {
    margin: $five-px auto 0;
    width: $eighty-percent;
  }
  .logout {
    display: block;
    margin: $thirty-px auto 0;
    width: $eighty-percent;
  }
  .profile-pic {
    border: $five-px solid $color-light-black;
    border-radius: $one-hundred;
    margin: 0 auto;
    width: $fifty-percent;
  }
}
