<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div *ngIf="user$ | async as user" class="user-info">
        <img class="img-responsive profile-pic" src="{{ user.photoURL }}" alt="">
        <h3>{{ user.name }}  {{ user.lastName }}</h3>
        <h4>Usuario: {{ user.type }}</h4>
        <p><strong>Areas:</strong> {{ user.areas }}</p>
        <p><strong>Usuario aprobado:</strong> {{ user.isApproved }}</p>
        <p><strong>Usuario público:</strong> {{ user.isPublic }}</p>
        <p><strong>Correo:</strong> {{ user.email }}</p>
        <button (click)="logout()" class="fb-button logout">Logout</button>
      </div>
    </div>

    <div class="col-md-9">
      <a class="btn btn-primary btn-sm" routerLink="../posts/create">
        Write new post <i class="fa fa-plus"></i>
      </a>
      <app-post-listing
        [isThumbnail]="true"
        [posts]="posts$ | async"
        [user]="user$ | async">
      </app-post-listing>
    </div>
  </div>
</div>
