<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="user-info" *ngIf="user$ | async as user">
        <img class="img-responsive profile-pic" src="{{ user.photoURL }}" alt="">
        <h3>{{ user.name }}  {{ user.lastName }}</h3>
        <h4>Usuario: {{ user.type }}</h4>
        <p><strong>Areas:</strong> {{ user.areas }}</p>
        <p><strong>Usuario aprobado:</strong> {{ user.isApproved }}</p>
        <p><strong>Usuario público:</strong> {{ user.isPublic }}</p>
        <p><strong>Correo:</strong> {{ user.email }}</p>
        <button (click)="logout()" class="fb-button logout">Logout</button>
      </div>
    </div>

    <div class="col-md-9">

    </div>
  </div>
</div>
