<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div *ngIf="user$ | async as user">
        <img class="img-responsive" src="{{ user.photoURL }}" alt="">
        <h3>{{ user.name }}  {{ user.lastName }}</h3>
        <h4>Usuario {{ user.type }}</h4>
        <p>Areas: {{ user.areas }}</p>
        <p>Usuario aprobado: {{ user.isApproved }}</p>
        <p>Usuario publico: {{ user.isPublic }}</p>
        <p>Correo: {{ user.email }}</p>
      </div>
    </div>

    <div class="col-md-9">

    </div>
  </div>
</div>

<button (click)="logout()" class="fb-button">Logout</button>
