// Colors
// Use http://chir.ag/projects/name-that-color/ to name the color-variables

$color-atlantis: #5ed33f;
$color-alto: #d2d2d2;
$color-alizarin-crimson: #ed1d24;

$color-boulder: #7d7d7d;
$color-brink-pink: #fd7377;
$color-cardinal-pink: #870673;
$color-carnation: #f84a4e;
$color-chelsea-gem: #986900;
$color-congress-blue: #014c8c;
$color-grey: #848484;
$color-catskill-white: #ebf1f5;
$color-fuel-yellow: #eeae1d;
$color-fuchsia-pink: #c55ab4;
$color-hot-toddy: #c08809;
$color-kournikova: #ffd574;
$color-governor-bay: #263aa3;
$color-medium-red-violet: #b1359d;
$color-milano-red: #be090e;
$color-mine-shaft: #333;
$color-pompadour: #6b005a;
$color-porcelain: #eceeef;
$color-outer-space: #2e353d;
$color-red: #f00;
$color-silver: #ccc;
$color-shark: #181c20;
$color-saffron-mango: #fac54b;
$color-sangria: #960004;
$color-violet-eggplant: #a81591;

$color-white: #fff;
$color-light-gray: #95989a;
$color-concrete-gray: #ececec;

// Font icon
$fa-font-path: '~font-awesome/fonts';
