// Colors
// Use http://chir.ag/projects/name-that-color/ to name the color-variables

$color-atlantis: #5ed33f;
$color-alto: #d2d2d2;
$color-alizarin-crimson: #ed1d24;

$color-basic-btn: #3b8598;
$color-boulder: #7d7d7d;
$color-brink-pink: #fd7377;
$color-cardinal-pink: #870673;
$color-carnation: #f84a4e;
$color-chelsea-gem: #986900;
$color-congress-blue: #014c8c;
$color-congress-blue-hover: rgba($color-congress-blue, .9);
$color-grey: #848484;
$color-grey-hover: rgba($color-grey, .05);
$basic-button-hover:rgba($color-basic-btn, .75);
$color-catskill-white: #ebf1f5;
$color-fuel-yellow: #eeae1d;
$color-fuchsia-pink: #c55ab4;
$color-hot-toddy: #c08809;
$color-kournikova: #ffd574;
$color-governor-bay: #263aa3;
$color-medium-red-violet: #b1359d;
$color-milano-red: #be090e;
$color-mine-shaft: #333;
$color-pompadour: #6b005a;
$color-porcelain: #eceeef;
$color-outer-space: #2e353d;
$color-red: #f00;
$color-silver: #ccc;
$color-shark: #181c20;
$color-saffron-mango: #fac54b;
$color-sangria: #960004;
$color-violet-eggplant: #a81591;

$color-black: #000;
$color-light-black: rgba($color-black, .5);
$color-white: #fff;
$color-light-gray: #95989a;
$color-concrete-gray: #ececec;

//Fixed Numbers in %, PX and EM
//Percentages
$one-hundred: 100%;
$ninety-percent: 90%;
$eighty-percent: 80%;
$fifty-percent: 50%;
$forty-five: 45%;
$five-percent: 5%;
//Pixels
$six-hundred-px: 600px;
$fifty-px: 50px;
$thirty-px: 30px;
$ten-px: 10px;
$five-px: 5px;
$three-px: 3px;
$one-px: 1px;
//EMs
$one-em: 1em;


//COMMON
//BUTTONS
//.google-button
$google-border: 1px solid $color-grey;

//.email-button
$email-button-hover-radius: 3px;

//.basic-btn
$basic-btn-margin: 0 0 5% 0;
//END BUTTONS

//FORMS
$form-container-radius: 3px;
//END FORMS

//INPUTS
//.txt
$txt-radius: 3px;
$txt-margin: 0 0 5% 0;
$txt-width: 100%;
//END INPUTS

//END COMMON

// Font icon
$fa-font-path: '~font-awesome/fonts';
