@import 'variables';
@import 'mixins';

@import 'vendors/index';
@import 'common/index';


body {
  background: $color-porcelain;
  padding-bottom: 60px;
}


@media (max-width: 600px) {
  body {
    padding-top: 1.2em;
  }

}
